<footer id="footer">
    <div class="container">
      <h3>Cafepas S.A.S</h3>
      <div class="social-links">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=573183513658" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Cafepas s.a.s</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by  <strong><span>Santiago Saavedra Rincon</span></strong>
      </div>
    </div>
  </footer>
