
#footer {
   
 
    background: rgba(47, 23, 15, 0.9);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 1em 0;
    
  }
  #footer h3 {
    font-size: 25px;
    font-weight: 700;
    color: #ffb03b;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #474141;
    color: rgb(255, 255, 255);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    /* background: #070502; */
    background: #ffb03b;
  }
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  #footer .credits {
    font-size: 13px;
  }