
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title" style="color: white;">
        <h2><span>Contáctenos</span></h2>
        <p>¡Denos La Oportunidad De Atenderlo!.</p>
      </div>
    </div>

    

    <div class="container mt-5" style="color: white;">

      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <i class="bi bi-geo-alt"></i>
            <h4>Ubicación:</h4>
            <p>CALLE 50 # 40 - 81 BODEGA A1 DEL PARQUE INDUSTRIAL JACOB,<br> TULUA, VALLE</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-clock"></i>
            <h4>Horario:</h4>
            <p>Lunes-Viernes:<br>8:00 AM - 6:00 PM</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-envelope"></i>
            <h4>Correo:</h4>
            <p>info@example.com<br>contact@example.com</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-phone"></i>
            <h4>Telefono:</h4>
            <p>+57 318 351 3658</p>
          </div>
        </div>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Enviar mensaje</button></div>
      </form>
        <div class="container" style="text-align: center;">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.7889590132995!2d-76.1988430859105!3d4.063392047986711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e39c43082ba0575%3A0xe75d2f25dae6d304!2sParque%20Industrial%20Jakob%20Olivier!5e0!3m2!1ses!2sco!4v1652967563695!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>
    </div>
    <br>
  </section>
