.bg-faded {
    background-color: #f6e1c5;
  }

  @media (min-width: 992px) {
    .about-heading .about-heading-img {
      position: relative;
      z-index: 0;
    }
    .about-heading .about-heading-content {
      margin-top: -12rem;
      position: relative;
      z-index: 1;
    }
  }