<section id="why-us" class="why-us">
    <div class="container">


      <div class="row">

        <div class="col-lg-6">
          <div class="box">
            <span>Mision</span>

            <p style="text-align: justify; color: white;"   >CAFEPAS S.A.S es una empresa Vallecaucana con mas de 40 años de experiencia en la distribución de productos alimenticios y de aseo para el hogar en la zona Norte del Valle y Quindío, contando con la  exclusividad en la distribución de las marcas Águila roja y Pastas Nuria.

                Nuestro portafolio de productos esta dirigido al canal tradicional y  autoservicios, contando con una estructura logística propia y un recurso humano competente, que nos permite garantizar un servicio oportuno y de calidad, actuando con sana competencia, lealtad frente a nuestros clientes, proveedores y competidores, que nos garantiza la sostenibilidad del negocio.    
            </p>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="box">
            <span>Vision</span>
           
            <p style="text-align: justify; color: white;">CAFEPAS S.A.S será en el año 2020 una empresa distribuidora líder de la región, con una alta cobertura de la marca AGUILA ROJA y PASTAS NURIA dentro de nuestra zona de cobertura y con un amplio portafolio de productos alimenticios de primera necesidad y aseo del hogar, generando con ello un nivel de composición en ventas generando el retorno esperado por los accionistas. 

                Consolidarse en el enfoque de Comercializadora fuerte en otras zonas a las señaladas como exclusivas, abarcar distribución a nivel departamental
                </p>
          </div>
        </div>

       

      </div>

    </div>
    <br>
    <br>
  </section><!-- End Whu Us Section -->