
body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("/assets/img/cp_.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }