body{
  font: white;
}
/* .gallery {

    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .gallery .gallery-item {
    overflow: hidden;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
  }
  .gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
  }
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  } */
  
  .contact .info-wrap {
    font: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .contact .info i {
    font-size: 20px;
    color: #ffb03b;
    float: left;
    width: 44px;
    height: 44px;
    background: #fff6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    font: white;
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffb03b;
    font-family: "Poppins", sans-serif;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #7a7368;
  }
  .contact .info:hover i {
    background: #ffb03b;
    color: #fff;
  }
