<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/gallery/intro_.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper" style="color:#ffb03b;">Cafepas S.A.S
                            </span>
                            
                        </h2>
                        <p>La empresa Cafepas S.A.S se encuentra situada en el departamento del Valle, en la localidad de Tulua y su dirección postal es calle 50 # 40 - 81 Bodega A1 del parque industrial Jacob, Tulua, Valle.
                            Cafepas S.A.S está constituida como una sociedad por acciones simplificada.</p>
                        <p class="mb-0">
                            Nuesta empresa esta dedicada al comercio  por mayor de productos alimenticios y de aseo.
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>